*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.heading{
    color:white;
    text-align: center;
}
input{
    padding: 10px;
    font-size: 25px;
}
.main{
    padding: 0;
    margin:0px;
    
}
body{
    background:green;
}

.Add{
    background: blue;
    color:white;
    padding: 10px 30px;
    font-size: 20px;
    margin: 10px;
    cursor:pointer;
}
.first-box{
    display:flex;
    justify-content:center;
    align-items: center;
   
    
}
.inputbox{
    width: 600px;
    background: yellow;
    display:flex;
    justify-content:center;
    align-items: center;
    

}
.second-box{
    display:flex;
    justify-content:center;
    align-items: center;
   
}
.content{
    background: #fff;
    width: 600px;
    height:auto;

}
#ullist{
    padding: 10px;
    font-size: 25px;
    
    width:450px;
    
    
    
}

    
 
.fa-trash{
    font-size: 30px;
    color:greenyellow;
    padding: 5px;
}
.li-class{
    display:flex;
    justify-content: space-between;
    background:red;
    margin:10px;
    color:white;
    font-size: 30px;
    padding: 5px;
    

}